{% extends "./templates/base.twig" %}

{% block content %}
    
        {% if meta.title == 'Home' %}
            {% include './templates/home.twig' %}

        {% elseif meta.title == 'Group' %}
            {% include './templates/group.twig' %}

        {% elseif meta.title == 'Media' %}
            {% include './templates/media.twig' %}

        {% elseif meta.title == 'Research' %}
            {% include './templates/research.twig' %}

        {% else %}

            <div class="inner col-12">
                {{ content }}
            </div>

        {% endif %}

{% endblock %}