{# Basic Navigation #}
<nav>
    <ul>
    	<h1><a class="underline" href="{{ "index"|link }}" id="logo">{{ site_title }}</a></h1>
        {% for page in pages if page.title %}
            <li{% if page.id == current_page.id %} class="active"{% endif %}>
                <a href="{{ page.url }}">{{ page.title }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>