{# Basic Navigation #}
<nav>
    <ul>
        {% for page in pages if page.title %}
            <li{% if page.id == current_page.id %} class="active"{% endif %}>
                <a href="{{ page.url }}">{{ page.title }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>