// Base
html {
	background-color: #efefef;
}

// Header
.front-page-header {
	background-color: $black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0 0 200px 0;
}

header {
	background-color: $primary-color;
	
	h1,
	svg {
		display: inline-block;
	}

	.icon {
		fill: $white;
	}

	// Make header text a different color
	h1 a,
	ul li,
	ul li a,
	p {
		color: $white;
	}
}

// About Section
.about {
	margin: 4% 0;
}

// Contact section
.contact {
	img {
		border-radius: 50%;
	}
}

// Underline thing
.underline {
	border-bottom: 5px solid $primary-color;
}

.callout {
	padding: 1%;
	background-color: $primary-color;
	color: $white;
	box-shadow: 2px 2px 1px #bbb;
}


// Footer
footer {
	text-align: center;
	margin: 4% 0;
}