// Fonts
$font-family: 'Lato', Helvetica, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

// Colors
$dark-grey: #333447;
$dark-gray: #333447; // for the Americans
$primary-color: #FF5E5B;
$secondary-color: #067BC2;
$tertiary-color: #A2D729;
$white-grey: #ddd;
$white: #fff;
$black: #000;


// Grid
$width: 96%;
$gutter: 4%;
$max-container-width: 1280px; 
$breakpoint-small: 540px; 
$breakpoint-med: 720px; 
$breakpoint-large: 960px;

// Icons
$icon-size: 32px;