{# Home template #}

{# Featured research items #}
{% include './templates/partials/feature.twig' %}

{# About section #}
<div class="row about">
    <div class="col-12-sm col-8">
        {{ "front-page/about"|content }}
    </div>
    <div class="col-12-sm col-4 sheet contact">
        {# Contact #}
        {{ "front-page/contact"|content }}
    </div>
</div>


{# Two column layout #}
{# Insert the contents of the front page .md files in each column subsection #}
<div class="row">
    {# Research #}
    <div class="col-12-sm col-6 sheet">
        {# Inserts the content #}
        {{ "front-page/opportunities"|content }}
    </div>

    {# News #}
    <div class="col-12-sm col-6 sheet">
        {{ "front-page/news"|content }}
    </div>


</div>