{# Publications template #}

{# Introduction #}
<div class="row about">
    <div class="col-12-sm col-8">
        {{ content }}
    </div>
    <div class="col-12-sm col-4 sheet contact">
        {# Contact #}
        {{ "front-page/contact"|content }}
    </div>
</div>

<div class="row">

</div>