// Feature
// applies styles to make the section look like a sheet
.sheet {
	box-sizing: border-box;
	background: $white;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
	padding: 2%;
}

.feature {
	margin-top: -150px!important;
	padding: 0;

	h2 {
		display: inline-block;
		margin: 6% 6% 0 6%;
	}
	

	.feature-container {
		display: flex;
		align-items: center;
		padding: 0 4% 4% 4%;

		p {
			display: inline-block;
			padding: 2%;
			margin: 0;
			flex-grow: 1;
		}

		p img {
			max-width: 100%;
			margin: 0;
		}
	}

	.footbar {
		margin: 0;
		padding: 0;
		height: 50px;
		width: 100%;
		background: $primary-color;
	}
}